@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');

/* CSS variables for reusablity across all files (including above imported) */
:root {
  --playfair-display: 'Playfair Display', serif;
  --plus-jakarta-sans: 'Plus Jakarta Sans', sans-serif;

  --primary-color: #b1454a;
  --secondary-color: #121212;

  --black-200: #020202;
  --black-300: #333333;
  --black-400: #1f1e31;
  --black-500: #555555;
  --gray-100: #888888;

  --color-white: #fff;
  --color-creamson: #fff0de;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: var(--color-white);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

/* Navbar */
.header__nav {
  display: flex;
  overflow: hidden;
}

.header__logo {
  flex: 1;
  display: flex;
  align-items: center;
  position: relative;
  padding: 20px;
}

.header__logo h4 {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: var(--playfair-display);
  color: #fff;
}

.header__logo-overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  z-index: -1;
  background: var(--primary-color);
}

.header__menu,
.header__menu-mobile {
  padding: 20px;
  flex: 1.236;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 64px;
}

.header__menu li {
  font-weight: 500;
  font-family: var(--plus-jakarta-sans);
  color: var(--secondary-color);
  font-size: 16px;
  text-transform: uppercase;
  line-height: 20px;
  cursor: pointer;
}

.header__menu li img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.header__menu-mobile {
  display: none;
  gap: 20px;

  position: relative;
}

/* Hero */
.hero {
  display: flex;
  min-height: calc(100vh - 80px);
  overflow: hidden;
}

.hero-image {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  z-index: 5;
}

.hero-image img {
  width: 120%;
  height: 100%;
  object-fit: contain;
  pointer-events: none;
}

.hero-image__overlay {
  position: absolute;
  width: 100%;
  inset: 0;
  background: var(--primary-color);
  z-index: -1;
}

.hero-image h2 {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
  font-family: var(--playfair-display);
  font-size: 120px;
  font-weight: 700;
  line-height: 138px;
  color: #fff;
}

.hero-content {
  flex: 1.22;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero-content-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 64px;
}

.hero-content-info h1 {
  font-size: 80px;
  font-weight: 600;
  font-family: var(--playfair-display);
  color: var(--secondary-color);
}

.hero-content-info p {
  font-size: 18px;
  font-weight: 400;
  font-family: var(--plus-jakarta-sans);
  color: var(--secondary-color);
  margin: 32px 0 0 32px;
}

.hero-content__buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 36px;
  margin: 41px 0 0 41px;
}

.hero-content__order-button {
  padding: 20px;
  border-radius: 36px;
  min-width: 212px;
  outline: none;
  border: none;
  background: var(--secondary-color);
  cursor: pointer;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
}

.hero-content__play-button {
  border: none;
  outline: none;
  background: transparent;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  line-height: 19px;
  color: var(--black-200);
  font-family: var(--plus-jakarta-sans);
  cursor: pointer;
}

.hero-content__play-button img {
  width: 46px;
  height: 46px;
  object-fit: contain;
}

.hero-content__testimonial {
  padding: 32px 64px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  background: var(--color-white);
}

.hero-content__customer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.hero-content__customer h4 {
  font-size: 62px;
  font-weight: 400;
  font-family: var(--playfair-display);
}

.hero-content__customer p {
  font-size: 16px;
  font-weight: 400;
  font-family: var(--plus-jakarta-sans);
  color: var(--secondary-color);
  opacity: 0.8;
}

.hero-content__review {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 20px;
  border-left: 1px solid #02020242;
  min-width: 200px;
}

.hero-content__review img {
  widows: 45px;
  height: 45px;
  object-fit: contain;
}

.hero-content__review p {
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  font-family: var(--plus-jakarta-sans);
  color: var(--secondary-color);
  opacity: 0.8;
}

/* About us */
.about-us {
  display: flex;
  min-height: 720px;
  overflow: hidden;
}

.about-us__image {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.about-us__image div {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 32px 64px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.about-us__image-sushi1 {
  border-bottom: 8px solid var(--color-creamson);
  background-image: url("./assets/about_bg1.png");
}

.about-us__image-sushi1 img {
  width: 225px;
  height: 200px;
}

.about-us__image-sushi2 {
  background-image: url("./assets/about_bg2.png");
}

.about-us__image-sushi2 img {
  width: 240px;
  height: 160px;
}

.about-us__button {
  position: absolute;
  right: 0;
  border: none;
  outline: none;
  background: var(--secondary-color);
  padding: 12px 32px;
  min-height: 64px;
  border-radius: 32px 0px 0px 32px;
  color: #fff;
  font-family: var(--plus-jakarta-sans);
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  cursor: pointer;
}

.about-us__button img {
  object-fit: contain;
  margin-left: 32px;
}

.about-us__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 64px;
  background: var(--color-creamson);
}

.sushi__subtitle {
  font-size: 18px;
  font-weight: 400;
  font-family: var(--plus-jakarta-sans);
  color: var(--secondary-color);
  letter-spacing: -0.01em;
}

.sushi__title {
  font-size: 64px;
  font-weight: 600;
  font-family: var(--playfair-display);
  color: var(--secondary-color);
  margin-top: 16px;
}

.sushi__description {
  font-size: 18px;
  font-weight: 400;
  font-family: var(--plus-jakarta-sans);
  line-height: 36px;
  letter-spacing: -0.01em;
  color: var(--secondary-color);
  opacity: .8;
  margin: 32px 0px;
}

/* Popular Foods */
.popular-foods {
  display: flex;
  flex-direction: column;
  padding: 64px;
  background-color: var(--primary-color);
  background-image: url("./assets/popular_bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
}

.popular-foods__title {
  font-size: 56px;
  font-weight: 600;
  line-height: 78px;
  font-family: var(--playfair-display);
  color: #fff;
  text-align: center;
}

.popular-foods__filters {
  display: flex;
  justify-content: center;
  gap: 24px;
  max-width: 100%;
  overflow-x: auto;
  margin-top: 48px;
}

.popular-foods__filter-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 24px;
  background: #ffffff0d;
  border: 1px solid #ffffff33;
  border-radius: 46px;
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
  color: #fff;
  font-family: var(--plus-jakarta-sans);
  cursor: pointer;
  transition: all .3s;
}

.popular-foods__filter-btn img {
  width: 36px;
  height: 36px;
  object-fit: contain;
}

.popular-foods__filter-btn.active {
  background: #fff;
  color: var(--primary-color);
  font-weight: 500;
}

.popular-foods__filter-btn:hover {
  background: #fff;
  color: var(--primary-color);
}

.popular-foods__cataloge {
  display: flex;
  justify-content: center;
  align-items: end;
  flex-wrap: wrap;
  gap: 56px;
  margin-top: 64px;
}

.popular-foods__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 260px;
  height: fit-content;
  padding: 38px;
  border-radius: 36px;
  background: #ffffff0d;
  border: 1px solid #ffffff33;
}

.popular-foods__card-image {
  width: 110px;
  height: 84px;
  object-fit: contain;
}

.popular-foods__card-title {
  font-size: 24px;
  font-weight: 600;
  font-family: var(--playfair-display);
  line-height: 32px;
  color: #fff;
  margin-top: 47px;
}

.popular-foods__card-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 32px;
}

.popular-foods__card-rating {
  display: flex;
  align-items: center;
  gap: 8px;
}

.popular-foods__card-rating img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.popular-foods__card-rating p {
  font-size: 20px;
  font-weight: 300;
  color: #fff;
  font-family: var(--plus-jakarta-sans);
}

.popular-foods__card-price {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  font-family: var(--plus-jakarta-sans);
}

.popular-foods__card.active-card {
  background: #fff;
  min-width: 340px;
}

.popular-foods__card.active-card .popular-foods__card-image {
  width: 214px;
  height: 160px;
}

.popular-foods__card.active-card .popular-foods__card-title {
  color: var(--black-500);
  font-size: 32px;
}

.popular-foods__card.active-card .popular-foods__card-rating img {
  width: 32px;
  height: 32px;
}

.popular-foods__card.active-card .popular-foods__card-rating p {
  font-size: 24px;
  color: var(--gray-100);
}

.popular-foods__card.active-card .popular-foods__card-price {
  font-size: 24px;
  color: var(--secondary-color)
}

.popular-foods__button {
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  color: #fff;
  font-family: var(--plus-jakarta-sans);
  width: fit-content;
  padding: 20px 30px;
  margin: 80px auto 0;
  border: none;
  outline: none;
  background: var(--secondary-color);
  border-radius: 64px;
  cursor: pointer;
}

.popular-foods__button img {
  width: 14px;
  height: 14px;
  object-fit: contain;
  margin-left: 21px;
}

/* Trending */
.trending {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.row-reverse {
  flex-direction: row-reverse;
}

.trending-section {
  display: flex;
  width: 100%;
  min-height: 640px;
}

.trending__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 32px 64px;
  background: var(--color-creamson);
}

.trending__subtitle {
  font-size: 18px;
  font-weight: 400;
  color: var(--primary-color);
  opacity: .8;
  font-family: var(--plus-jakarta-sans);
}

.trending__title {
  font-size: 64px;
  font-weight: 600;
  margin-top: 16px;
  color: var(--secondary-color);
  font-family: var(--playfair-display);
}

.trending__description {
  font-size: 18px;
  font-weight: 400;
  line-height: 36px;
  color: var(--secondary-color);
  opacity: .8;
  margin: 32px 0px;
  font-family: var(--plus-jakarta-sans);
}

.trending__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.trending__list li {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 12px;
  min-width: 210px;
}

.trending__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  background: var(--primary-color);
}

.trending__list li p {
  font-size: 16px;
  font-weight: 500;
  font-family: var(--plus-jakarta-sans);
  color: var(--secondary-color);
}

.trending__image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px 64px;
  position: relative;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.trending__image img {
  width: 254px;
  height: 260px;
  object-fit: contain;
}

.trending-sushi {
  background-image: url("assets/japanese_sushi.png");
}

.trending-drinks {
  background-image: url("assets/japanese_drinks.png");
}

.trending__discover {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 44%;
  left: 44%;
  z-index: 1;

  width: 155px;
  height: 155px;

  border-radius: 100%;
  background-color: var(--secondary-color);
  cursor: pointer;
}

.trending__discover p {
  font-size: 18px;
  font-weight: 500;
  font-family: var(--plus-jakarta-sans);
  text-transform: uppercase;
  color: #fff;
}








.sushi__hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.sushi__hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}